p {
  width: 300px;
  height: 150px;
  border: 1px solid #000;
  text-align: justify;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  line-height: 1.5;
  text-indent: 10px;
  padding: 8px;
  color: red;
  font-style: italic;
}
h1 {
  color: green;
  text-align: center;
  font-weight: normal;
}
h2 {
  color: blue;
  width: 500px;
  text-align: right;
  font-style: italic;
}
h3 {
  color: orange;
}
table {
  width: 300px;
  height: 300px;
}
table, th, td {
  border: 1px solid navy;
}
table th {
  text-align: left;
}
table td {
  text-align: center;
  font-weight: bold;
}